.header-logo {
  width: 96px;
  height: auto;
}
.btn-primary {
  background-color: #007cba;
  color: white;
}
.footer {
  background-color: #007cba;
  color: white;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
.calculator-btn {
  max-width: 300px;
  align-content: center;
}
